.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 12.5vh;
    background: #333;
    padding: 2% 0;
    color: white;

    button {
        background: #008387 !important;
        color: white !important;
        height: 5vh;
    }
}