.main__comments {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 98vw !important;
}

.main__comments-header {
    background: inherit;
    height: auto;
}

.main__comments-refresh {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}