.main__news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    border-radius: 1%;
    margin: 1%;
    padding: 2%;
    box-shadow: -2px -2px 20px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.main__news-item:hover {
    background: #008387;
    color: white;
    transition: .5s;
    box-shadow: -2px -2px 20px 2px rgba(245, 239, 235);
}

%content-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__news-author {
    @extend%content-row;

    p {
        font-size: 1.25em;
    }
}

.main__news-date {
    @extend%content-row;

    p {
        font-size: 1.15em;
    }
}