@import 'semantic-ui-css/semantic.min.css';
@import './containers/MainPage/MainPage.scss';
@import './components/Header/Header.scss';
@import './components/Main/Main.scss';
@import './components/Loader/Loader.scss';
@import './components/News/News.scss';
@import './containers/NewsPage/NewsPage.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  display: none;
}
